---
import Stats from '../components/astro/Stats.astro';
import Features from '../components/astro/Features.astro';
import HeroSection from '../components/astro/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/astro/Testimonials.astro';
import CallToAction from '../components/astro/CallToAction.astro';
import Blog from '../components/astro/Blog.astro';
import MyReactComponent from '../components/react/MyReactComponent.jsx'; // Import your React component

---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Features/>
		<Stats/>
		<Testimonials/>
		<CallToAction/>
		<Blog/>
	</main>
</Layout>../components/react/MyReactComponent.jsx