---
// Import your React component
import LoginForm from '../components/react/LoginForm.jsx';
import Layout from '../layouts/Layout.astro'; // Optional: If you want to use a layout
import ProposalGenerator from '../components/react/ProposalGenerator.jsx';



---

  <main>
    <ProposalGenerator client:load />  
  </main>
