---
// Import your React component
import MyReactComponent from '../components/react/MyReactComponent.jsx';
import Layout from '../layouts/Layout.astro'; // Optional: If you want to use a layout

---

<Layout title="Login">
  <main>
    <MyReactComponent />
  </main>
</Layout>
../components/react/MyReactComponent.jsx